@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rowdies', cursive;
}

h1
{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2
{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4
{
    font-size: 20px;
    color: #222;
}

h6
{
    font-weight: 700;
    font-size: 12px;
}

p
{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-features
{
    padding: 40px 80px;
}

.section-banner
{
    margin: 40px 0;
}

button.normalbtn
{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.smallBannerBtnn
{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body
{
    width: 100%;
}

/* Header */

#header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li
{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a
{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active
{
    color: #088178;
}

#navbar li a.active::after
#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile
{
    display: none;
    align-items: center;
}

#close
{
    display: none;
}

/* homeHTML */

#hero
{
    background-image: url("images/heroflex.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4
{
    padding-bottom: 15px;
}

#hero h1
{
    color: #088178;
}

#hero button
{
     padding: 14px 80px 14px 80px;
     border: 5;
     color: #088178;
     cursor: pointer;
     font-weight: 750;
     font-size: 20px;
}

#features
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#features .fet-box
{
    width: 180px;
    /* height: 300px; */
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    
}

#features .fet-box:hover
{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#features .fet-box img
{
    width: 100%;
    margin-bottom: 10px;
}

#features .fet-box h6
{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#features .fet-box:nth-child(2) h6
{
    background-color: #cdebbc;
}

#features .fet-box:nth-child(3) h6
{
    background-color: #d1e8f2;
}

#features .fet-box:nth-child(4) h6
{
    background-color: #cdd4f8;
}

#features .fet-box:nth-child(5) h6
{
    background-color: #f6dbf6;
}

#features .fet-box:nth-child(6) h6
{
    background-color: #fff2e5;
}

#product01
{
    text-align: center;
}

#product01 .product-container
{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product01 .product
{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product01 .product:hover
{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product01 .product img
{
    width: 100%;
    border-radius: 20px;
}

#product01 .product .achaarName
{
    text-align: start;
    padding: 10px 0;
}

#product01 .product .achaarName span
{
    color: #606063;
    font-size: 12px;
}

#product01 .product .achaarName h5
{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product01 .product .achaarName i
{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product01 .product .achaarName h4
{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product01 .product .cart
{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/ban/table.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4
{
    color: #fff;
    font-size: 30px;
}

#banner h2
{
    color: #fff;
    font-size: 50px;
    padding: 10px 0;
}

#banner h2 span
{
    color: #ef3636;
}

#banner button:hover
{
    background: #088178;
    color: #fff;
}

#smallBanner
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#smallBanner .bannerBox
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* text-align: center; */
    background-image: url("images/ban/flex01.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 7%;
}

#smallBanner .bannerBox02
{
    background-image: url("images/ban/439.jpg");
}

#smallBanner h4
{
    color: rgb(211, 5, 5);
    font-size: 20px;
    font-weight: 300;
    text-shadow: 2px 2px white;
}

#smallBanner h2
{
    color: rgb(211, 5, 5);
    font-size: 28px;
    font-weight: 800;
    text-shadow: 2px 2px white;
}

#smallBanner span
{
    color: rgb(211, 5, 5);
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
    text-shadow: 2px 2px white;
}

#smallBanner .bannerBox:hover button
{
    background: #088178;
    border: 1px solid #088178;
}

#banner3
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .bannerBox
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("images/ban/flex01.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 5%;
    margin-bottom: 20px;
}

#banner3 .bannerBox02
{
    background-image: url("images/ban/flex01.jpg");
}

#banner3 .bannerBox03
{
    background-image: url("images/ban/flex01.jpg");
}

#banner3 h2
{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3
{
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}

#newLetter
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url();
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newLetter h4
{
    font-size: 22px;
    font-weight: 700;
    color:#fff;
}

#newLetter p
{
    font-size: 14px;
    font-weight: 600;
    color:#818ea0;
}

#newLetter p span
{
    color:#ffbd27;
}

#newLetter .form
{
    display: flex;
    width: 40%;
}

#newLetter input
{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newLetter button
{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo
{
    margin-bottom: 30px;
}

footer h4
{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p
{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a
{
    font-size: 13px;
    text-decoration: none;
    color: rgb(70, 91, 82);
    margin-bottom: 10px;
}

footer .follow
{
    margin-top: 20px;
}

footer .follow i
{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img
{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img
{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover
{
    color: #088178;
}

footer .cright
{
    width: 100%;
    text-align: center;
}


/* shop html */

#shopHero
{
    background-image: url(images/newsletter.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#shopHero h2,
#shopHero p
{
    color: #fff;
}

#pages
{
    text-align: center;
}

#pages a
{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pages a i
{
    font-size: 16px;
    font-weight: 600;
}


/* singleProduct html */

#productDetails
{
    display: flex;
    margin-top: 20px;
}

#productDetails .single-product-images
{
    width: 40%;
    margin-right: 50px;
}

.smallImageGroup
{
    display: flex;
    justify-content: space-between;
}

.smallImageColumn
{
    flex-basis: 24%;
    cursor: pointer;
}

#productDetails .singleProductsDetails
{
    width: 50%;
    padding-top: 30px;
}

#productDetails .singleProductsDetails h4
{
    padding: 40px 0 20px 0;
}

#productDetails .singleProductsDetails h2
{
    font-size: 26px;
}

#productDetails .singleProductsDetails select
{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#productDetails .singleProductsDetails input
{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#productDetails .singleProductsDetails input:focus
{
    outline: none;
}

#productDetails .singleProductsDetails
{
    line-height: 25px;
}

#productDetails .singleProductsDetails button
{
    background: #088178;
    color: #fff;
}

/* blog html */

#shopHero.blogHeader
{
    background-image: url("images/banBook.jpg");
}

#blog
{
    padding: 150px 150px 0 150px;
}

#blog .blogBox
{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blogImage
{
    width: 50%;
    margin-right: 40px;
}

#blog img
{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blogdetails
{
    width: 50%;
}

#blog .blogdetails a
{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 00.3s;
}

/* #blog .blogdetails a::after
{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
} */

#blog .blogdetails a:hover
{
    color: #088178;
}

#blog .blogBox h1
{
    position: absolute;
    top: -45px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -8;
}

/* about html */

#shopHero.aboutHeader
{
    background-image: url("images/aboutus.png");
}

#aboutHead 
{
    display: flex;
    align-items: center;
}

#aboutHead img
{
    width: 50%;
    height: auto;
}

#aboutHead div
{
    padding-left: 40px;
}

#aboutApp
{
    text-align: center;
}

#aboutApp .videos
{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#aboutApp .videos video
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


/* contact html */

#contactDetails
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contactDetails .details
{
    width: 40%;
}

#contactDetails .details span,
#formDetails form span
{
    font-size: 12px;
}

#contactDetails .details h2,
#formDetails form h2
{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contactDetails .details h3
{
    font-size: 16px;
    padding: 15px;
}

#contactDetails .details li
{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contactDetails .details li i
{
    font-size: 14px;
    padding-right: 22px;
}

#contactDetails .details li p
{
    margin: 0;
    font-size: 14px;
}

#contactDetails .map
{
    width: 55%;
    height: 400px;
}

#contactDetails .map iframe
{
    width: 100%;
    height: 100%;
}

#formDetails
{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#formDetails form
{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#formDetails form input,
#formDetails form textarea
{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#formDetails form button
{
    background-color: #088178;
    color: #fff;
}

#formDetails .peoples div
{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#formDetails .peoples div img
{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#formDetails .peoples div p
{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#formDetails .peoples div p span
{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}


/* cart html */
#carts 
{
    overflow-x: auto;  
}

#carts table
{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#carts table img
{
    width: 70px;
}

#carts table td:nth-child(1)
{
    width: 100px;
    text-align: center;
}
#carts table td:nth-child(2)
{
    width: 150px;
    text-align: center;
}
#carts table td:nth-child(3)
{
    width: 250px;
    text-align: center;
}
#carts table td:nth-child(4),
#carts table td:nth-child(5),
#carts table td:nth-child(6)
{
    width: 150px;
    text-align: center;
}

#carts table td:nth-child(5) input
{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#carts table thead
{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#carts table thead td
{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#carts table tbody tr td
{
    padding-top: 15px;
}

#carts table tbody td
{
    font-size: 13px;
}

#cartsAdd
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon
{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subTotal h3
{

    padding-bottom: 15px;
}

#coupon input
{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #000;

}

#coupon button,
#subTotal button
{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}

#subTotal
{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subTotal table
{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subTotal table td
{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

/* index Media Query */

/* mid screen reponsive */
@media (max-width:799px)
{
    .section-features
    {
        padding: 40px 40px;
    }
    #navbar
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -200px;
        height: 150vh;
        width: 200px; 
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active
    {
        right: 0px;
    }

    #navbar li
    {
        margin-bottom: 25px;
    }

    #mobile
    {
        display: flex;
        align-items: center;
    }

    #mobile i
    {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close
    {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #hero
    {
        background-image: url("images/heroflex001.png");
        height: 70vh;
        padding: 0 50px;
        background-position: top 30% right 45%;  
    }

    #feature
    {
        justify-content: center;
    }

    #features .fet-box 
    {
        margin: 15px 15px;
    }

    #product01 .product-container {
        justify-content: center;
    }

    #product01 .product 
    {
        margin: 15px;
    }
    #banner 
    {
        height: 20vh;
    }

    #smallBanner .bannerBox
    {
        min-width: 100%;
        height: 30vh;
    }

    #banner3 
    {
        padding: 0px 40px;
    }

    #banner3 .bannerBox 
    {
        width: 28%;
    }

    #newLetter .form
    {
        width: 70%;
    }

    /* contactPage */

    #formDetails 
    {
        padding: 40px;
    }

    #formDetails form 
    {
        width: 50%;
    }
}

/* Phone responsive */
@media (max-width: 477px)
{
    #header 
    {
        padding: 10px 40px;
    }

    #hero 
    {
        background-image: url(images/heroflex002.png);
        padding: 0 20px;
        background-position: 55%;
    }

    h1
    {
        font-size: 38px;
    }

    h2 
    {
        font-size: 32px;
    }

    .section-features 
    {
        padding: 20px;
    }

    #features
    {
        justify-content: space-between;
    }

    #features .fet-box 
    {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product01 .product 
    {
        width: 100%;
    }

    #banner 
    {
        height: 40vh;
    }

    #banner h2 
    {
        font-size: 40px;
    }

    #smallBanner .bannerBox 
    {
       height: 40vh;
    }

    #smallBanner .bannerBox02 
    {
        margin-top: 20px;
    }

    #banner3 
    {
        padding: 0 20px;
    }

    #banner3 .bannerBox
    {
        width: 100%;
    }

    #newLetter
    {
        padding: 40px 20px;
    }

    #newLetter .form 
    {
        width: 100%;
    }

    /* singleProduct */

    #productDetails 
    {
        display: flex;
        flex-direction: column;
    }

    #productDetails .single-product-images
    {
        width: 100%;
        margin-right: 0px;
    }

    #productDetails .singleProductsDetails
    {
        width: 100%;
    }

    /* BlogPage */
    #blog 
    {
        padding: 100px 20px 0 20px;
    }

    #blog .blogBox 
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blogImage 
    {
        width: 90%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #blog .blogdetails 
    {
        width: 90%;
    }
    
    /* aboutPages */

    #aboutHead 
    {
        flex-direction: column;
    }

    #aboutHead img 
    {
        width: 95%;
        margin-bottom: 20px;
    }

    #aboutHead div 
    {
        padding-left: 0px;
    }

    #aboutApp .videos 
    {
        width: 100%;
    }

    /* contactPage */

    #contactDetails 
    {
       flex-direction: column;
    }

    #contactDetails .details
    {
        width: 100%;
        margin-bottom: 30px;
    }

    #contactDetails .map 
    {
        width: 100%;
    }

    #formDetails 
    {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #formDetails form 
    {
        width: 100%;
        margin-bottom: 30px;
    }

    /* cartHtml */

    #cartsAdd 
    {
        flex-direction: column;
    }

    #coupon 
    {
        width: 100%;
    }

    #subTotal 
    {
        width: 100%;
        padding: 20px;
    }

}

